/** @format */
body {
  font-family: "Roboto", sans-serif;
}

nav {
  height: 90px;
  color: #751af7;
  font-size: 20px;
  position: fixed;
  width: 100%;
}

nav ul {
  padding: 20px 40px;
}

nav li {
  display: inline-block;
}

nav li img {
  width: 200px;
}

.menu {
  margin: 0 -350px;
  position: absolute;
}

.menu li {
  padding: 0 20px;
}

.navBg {
  background-color: #ebeef3;
}

.say-hello {
  position: absolute;
  right: 40px;
  border: 2px solid #751af7;
  border-radius: 20px;
  padding: 10px;
}

.say-hello a {
  text-decoration: none;
  color: #751af7;
}

.say-hello a:hover,
.say-hello li:hover {
  cursor: pointer;
  color: #fa4273;
}

.welcome {
  display: -ms-grid;
  display: grid;
  padding: 150px 0 0;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-gap: 40px;
}

.welcome h2 {
  font-size: 60px;
  text-align: center;
}

.welcome #sub-head {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
}

.welcome #profile-image {
  -ms-grid-column: 1;
  grid-column: 1;
  margin: 0 auto;
}

.welcome #profile-image img {
  width: 400px;
}

#contact-form {
  position: absolute;
  right: 40px;
  top: 65px;
  background-color: #e9e9e9;
  width: 40%;
  height: 50%;
  z-index: 1;
  -webkit-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  padding: 20px;
}

#contact-form .head {
  font-size: 40px;
  text-align: center;
}

#contact-form #close {
  position: fixed;
  right: 60px;
  cursor: pointer;
}

#contact-form #form-body {
  text-align: center;
  padding: 40px 0;
}

#contact-form #form-body input {
  width: 40%;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
}

#contact-form #form-body textarea {
  width: 40%;
  height: 100px;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
}

#contact-form #form-body .form-btn {
  width: 20%;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  background-color: #751af7;
  color: white;
}

.hidden {
  display: none;
}

#about {
  color: white;
  background: #751af7;
  height: 500px;
  -ms-grid-row: 2;
  grid-row: 2;
  padding: 80px 40px;
  text-align: center;
  margin-top: -20px;
}

#about #wrapper {
  width: 50%;
  margin: 0 auto;
}

#about h3 {
  font-size: 40px;
  padding-bottom: 20px;
}

#about p {
  font-weight: 200;
  font-size: 20px;
  line-height: 2;
}

#skills {
  -ms-grid-row: 3;
  grid-row: 3;
  width: 1200px;
  margin: 0 auto;
}

#skills #skills-wrapper {
  border-radius: 20px;
  margin-top: -150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 80px 20px;
  text-align: center;
  grid-gap: 40px;
  -webkit-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
}

#skills #skills-wrapper #a {
  border-right: 1px solid #c7c7c7;
}

#skills #skills-wrapper .skills-logo {
  font-size: 40px;
  padding: 0 0 30px;
}

#skills #skills-wrapper .head {
  font-weight: 800;
  font-size: 30px;
}

#skills #skills-wrapper .sub-head {
  color: #751af7;
  font-weight: 400;
  font-size: 18px;
}

#skills #skills-wrapper .sub-content {
  font-weight: 300;
  line-height: 1.8;
  padding: 40px 0;
  font-size: 18px;
}

#projects {
  width: 1200px;
  margin: 0 auto;
  padding: 150px 0;
}

#projects #projects-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#projects #presentations-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

#projects #presentations-wrapper .presentation-box {
  border-radius: 20px;
  -webkit-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
}

#projects h3 {
  font-size: 40px;
  padding: 0 0 100px;
  text-align: center;
}

#projects .project-box {
  border-radius: 20px;
  -webkit-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
}

#projects #project-1 {
  background: url("img/biosite.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#projects #project-1 #p1Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

#projects #project-1 #p1Description h2 {
  padding: 20px 0;
  font-size: 30px;
}

#projects #project-2 {
  background: url("img/biositeproto.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#projects #p2Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

#projects #p2Description h2 {
  padding: 20px 0;
  font-size: 30px;
}

#project-3 {
  background: url("img/basix.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#p3Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  text-decoration: none;
  border-radius: 20px;
}

#p3Description h2 {
  padding: 20px 0;
  font-size: 30px;
}

#p3Description a {
  color: white;
  text-decoration: none;
}

#project-4 {
  background: url("img/portfolio-proto.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#p4Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  text-decoration: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

#p4Description h2 {
  padding: 20px 0;
  font-size: 30px;
}

#project-5 {
  background: url("img/basix.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#p5Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  text-decoration: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

#p5Description h2 {
  padding: 20px 0;
  font-size: 30px;
}

#project-6 {
  background: url("img/fancyres.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#p6Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  text-decoration: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

#p6Description h2 {
  padding: 20px 0;
  font-size: 30px;
}

#footer {
  background-color: #751af7;
  height: 200px;
}

#footer #footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #social {
  padding: 40px 0;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  font-size: 30px;
}

#footer #social li {
  display: inline;
  padding-right: 10px;
}

#footer #social li a {
  color: white;
  text-decoration: none;
}

#footer #copy {
  color: white;
  text-align: center;
}

#goBack {
  border: 3px solid #751af7;
  width: 10%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: #751af7;
}

#goBack:hover {
  cursor: pointer;
  color: #fa4273;
  border: 3px solid #fa4273;
}

#rest-pres {
  background: url("img/rest-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#rest-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

#rest-description h2 {
  padding: 20px 0;
  font-size: 30px;
}

#rest-description i {
  font-size: 60px;
  margin-top: 30%;
}

#restful-pres {
  background: url("img/rest_api.png");
  background-color: #ECFBFF;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#soap-pres {
  background: url("img/soap.png");
  background-color: #F8A320;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#rest-description, #restful-description, #soap-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

#rest-description h2, #restful-description h2, #soap-description h2 {
  padding: 20px 0;
  font-size: 30px;
}

#rest-description i, #restful-description i, #soap-description i {
  font-size: 60px;
  margin-top: 30%;
}

.video-pres, .video-pres-restful {
  visibility: hidden;
  position: absolute;
  top: 23%;
  left: 23%;
}

.video-pres .close-vid, .video-pres-restful .close-vid {
  font-size: 40px;
}

#nosql1diagram {
  background: url("../nosql-data-diagrams/nosql-data-structure.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

.diagram1-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.diagram1-description h2 {
  font-size: 30px;
}

.diagram1-description i {
  font-size: 60px;
  margin-top: 30%;
}

.diagram1-description:hover {
  cursor: pointer;
}

.nosql1 {
  position: absolute;
  top: 20%;
  display: none;
  left: 37%;
}

.nosql1 h2 {
  color: white;
  font-size: 24px;
  padding: 0 0 20px 0;
}

.nosql1 .nosql1Close {
  font-size: 30px;
  color: white;
}

.nosql1 .nosql1Close:hover {
  cursor: pointer;
}

#nosql2diagram {
  background: url("../nosql-data-diagrams/NoSQL-2.2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

.diagram2-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.diagram2-description h2 {
  font-size: 30px;
}

.diagram2-description i {
  font-size: 60px;
  margin-top: 30%;
}

.diagram2-description:hover {
  cursor: pointer;
}

.nosql2 {
  position: absolute;
  top: 20%;
  display: none;
  left: 20%;
}

.nosql2 h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 0 0 20px 0;
}

.nosql2 .nosql2Close {
  font-size: 30px;
  color: white;
}

.nosql2 .nosql2Close:hover {
  cursor: pointer;
}

#nosql3diagram {
  background: url("../nosql-data-diagrams/NoSQL2.3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

.diagram3-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.diagram3-description h2 {
  font-size: 30px;
}

.diagram3-description i {
  font-size: 60px;
  margin-top: 30%;
}

.diagram3-description:hover {
  cursor: pointer;
}

.nosql3 {
  position: absolute;
  top: 20%;
  display: none;
  left: 30%;
}

.nosql3 h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 0 0 20px 0;
}

.nosql3 .nosql3Close {
  font-size: 30px;
  color: white;
}

.nosql3 .nosql3Close:hover {
  cursor: pointer;
}

#nosql4diagram {
  background: url("../nosql-data-diagrams/NoSQL3.2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

.diagram4-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.diagram4-description h2 {
  font-size: 30px;
}

.diagram4-description i {
  font-size: 60px;
  margin-top: 30%;
}

.diagram4-description:hover {
  cursor: pointer;
}

.nosql4 {
  position: absolute;
  top: 20%;
  display: none;
  left: 13%;
}

.nosql4 h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 0 0 20px 0;
}

.nosql4 .nosql4Close {
  font-size: 30px;
  color: white;
}

.nosql4 .nosql4Close:hover {
  cursor: pointer;
}

#nosql5diagram {
  background: url("../nosql-data-diagrams/NoSQL3.3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

.diagram5-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.diagram5-description h2 {
  font-size: 30px;
}

.diagram5-description i {
  font-size: 60px;
  margin-top: 30%;
}

.diagram5-description:hover {
  cursor: pointer;
}

.nosql5 {
  position: absolute;
  top: 20%;
  display: none;
  left: 30%;
}

.nosql5 h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 0 0 20px 0;
}

.nosql5 .nosql5Close {
  font-size: 30px;
  color: white;
}

.nosql5 .nosql5Close:hover {
  cursor: pointer;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 10px;
}

.modal-wrapper .description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 20px;
  line-height: 3;
}

.modal-wrapper .description .title {
  text-align: center;
  font-size: 40px;
}

.darken {
  width: 100%;
  background: rgba(0, 0, 0, 0.741);
}
/*# sourceMappingURL=style.css.map */