/** @format */

$font: #751af7;
body {
  font-family: "Roboto", sans-serif;
}
nav {
  height: 90px;
  color: $font;
  font-size: 20px;
  position: fixed;
  width: 100%;

  ul {
    padding: 20px 40px;
  }
  li {
    display: inline-block;

    img {
      width: 200px;
    }
  }
}
.menu {
  margin: 0 -350px;
  position: absolute;
  li {
    padding: 0 20px;
  }
}
.navBg {
  background-color: #ebeef3;
}

.say-hello {
  position: absolute;
  right: 40px;
  border: 2px solid $font;
  border-radius: 20px;
  padding: 10px;
  a {
    text-decoration: none;
    color: $font;
  }
  a,
  li {
    &:hover {
      cursor: pointer;
      color: #fa4273;
    }
  }
}

.welcome {
  display: grid;
  padding: 150px 0 0;
  grid-column: 2;
  grid-gap: 40px;
  h2 {
    font-size: 60px;
    text-align: center;
  }
  #sub-head {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
  }
  #profile-image {
    grid-column: 1;
    margin: 0 auto;
    img {
      width: 400px;
    }
  }
}

#contact-form {
  position: absolute;
  right: 40px;
  top: 65px;
  background-color: rgb(233, 233, 233);
  width: 40%;
  height: 50%;
  z-index: 1;
  -webkit-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  padding: 20px;
  .head {
    font-size: 40px;
    text-align: center;
  }
  #close {
    position: fixed;
    right: 60px;
    cursor: pointer;
  }
  #form-body {
    text-align: center;
    padding: 40px 0;
    input {
      width: 40%;
      height: 30px;
      border-radius: 10px;
      border: 0px;
      padding: 5px;
    }
    textarea {
      width: 40%;
      height: 100px;
      border-radius: 10px;
      border: 0px;
      padding: 5px;
    }
    .form-btn {
      width: 20%;
      height: 40px;
      border-radius: 10px;
      border: 0px;
      background-color: $font;
      color: white;
    }
  }
}

.hidden {
  display: none;
}
#about {
  color: white;
  background: $font;
  height: 500px;
  grid-row: 2;
  padding: 80px 40px;
  text-align: center;
  margin-top: -20px;
  #wrapper {
    width: 50%;
    margin: 0 auto;
  }
  h3 {
    font-size: 40px;
    padding-bottom: 20px;
  }
  p {
    font-weight: 200;
    font-size: 20px;
    line-height: 2;
  }
}

#skills {
  grid-row: 3;
  width: 1200px;
  margin: 0 auto;
  #skills-wrapper {
    border-radius: 20px;
    margin-top: -150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 80px 20px;
    text-align: center;
    grid-gap: 40px;
    -webkit-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
    box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
    #a {
      border-right: 1px solid rgb(199, 199, 199);
    }
    .skills-logo {
      font-size: 40px;
      padding: 0 0 30px;
    }
    .head {
      font-weight: 800;
      font-size: 30px;
    }
    .sub-head {
      color: $font;
      font-weight: 400;
      font-size: 18px;
    }
    .sub-content {
      font-weight: 300;
      line-height: 1.8;
      padding: 40px 0;
      font-size: 18px;
    }
  }
}



#projects {
  width: 1200px;
  margin: 0 auto;
  padding: 150px 0;
  #projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  #presentations-wrapper {
    display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:30px;
    .presentation-box{
      border-radius: 20px;
    -webkit-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
    box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
    }
  }
  h3 {
    font-size: 40px;
    padding: 0 0 100px;
    text-align: center;
  }
  .project-box {
    border-radius: 20px;
    -webkit-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
    box-shadow: -2px 10px 9px -2px rgba(0, 0, 0, 0.21);
  }
  #project-1 {
    background: url("img/biosite.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;

    #p1Description {
      display: none;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.728);
      color: white;
      text-decoration: none;
      border-radius: 20px;
      h2 {
        padding: 20px 0;
        font-size: 30px;
      }
    }
  }
  #project-2 {
    background: url("img/biositeproto.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
  }
  #p2Description {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.728);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    h2 {
      padding: 20px 0;
      font-size: 30px;
    }
  }
}
#project-3 {
  background: url("img/basix.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
#p3Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  text-decoration: none;
  border-radius: 20px;
  h2 {
    padding: 20px 0;
    font-size: 30px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
#project-4 {
  background: url("img/portfolio-proto.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
#p4Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  text-decoration: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  h2 {
    padding: 20px 0;
    font-size: 30px;
  }
}
#project-5 {
  background: url("img/basix.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
#p5Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  text-decoration: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  h2 {
    padding: 20px 0;
    font-size: 30px;
  }
}
#project-6 {
  background: url("img/fancyres.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
#p6Description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  text-decoration: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  h2 {
    padding: 20px 0;
    font-size: 30px;
  }
}

#footer {
  background-color: $font;
  height: 200px;
  #footer-wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
  }
  #social {
    padding: 40px 0;
    grid-column: 2;
    justify-self: center;
    color: white;
    font-size: 30px;
    li {
      display: inline;
      padding-right: 10px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  #copy {
    color: white;
    text-align: center;
  }
}

#goBack {
  border: 3px solid $font;
  width: 10%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: $font;
  &:hover {
    cursor: pointer;
    color: #fa4273;
    border: 3px solid #fa4273;
  }
}

#rest-pres {
  background: url("img/rest-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
#rest-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  h2 {
    padding: 20px 0;
    font-size: 30px;
  }
  i {
    font-size: 60px;
    margin-top: 30%;
  }
}
#restful-pres {
  background: url("img/rest_api.png");
  background-color: #ECFBFF;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
#soap-pres {
  background: url("img/soap.png");
  background-color: #F8A320;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
#rest-description, #restful-description, #soap-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  h2 {
    padding: 20px 0;
    font-size: 30px;
  }
  i {
    font-size: 60px;
    margin-top: 30%;
  }
}

.video-pres, .video-pres-restful {
  visibility: hidden;
  position: absolute;
  top: 23%;
  left: 23%;
  .close-vid {
    font-size: 40px;
  }
}

#nosql1diagram {
  background: url("../nosql-data-diagrams/nosql-data-structure.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
.diagram1-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  h2 {
    font-size: 30px;
  }
  i {
    font-size: 60px;
    margin-top: 30%;
  }
  &:hover {
    cursor: pointer;
  }
}

.nosql1 {
  position: absolute;
  top: 20%;
  display: none;
  left: 37%;
  h2 {
    color: white;
    font-size: 24px;
    padding: 0 0 20px 0;
  }
  .nosql1Close {
    font-size: 30px;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
#nosql2diagram {
  background: url("../nosql-data-diagrams/NoSQL-2.2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
.diagram2-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  h2 {
    font-size: 30px;
  }
  i {
    font-size: 60px;
    margin-top: 30%;
  }
  &:hover {
    cursor: pointer;
  }
}

.nosql2 {
  position: absolute;
  top: 20%;
  display: none;
  left: 20%;
  h2 {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 0 0 20px 0;
  }
  .nosql2Close {
    font-size: 30px;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

#nosql3diagram {
  background: url("../nosql-data-diagrams/NoSQL2.3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
.diagram3-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  h2 {
    font-size: 30px;
  }
  i {
    font-size: 60px;
    margin-top: 30%;
  }
  &:hover {
    cursor: pointer;
  }
}

.nosql3 {
  position: absolute;
  top: 20%;
  display: none;
  left: 30%;
  h2 {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 0 0 20px 0;
  }
  .nosql3Close {
    font-size: 30px;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

#nosql4diagram {
  background: url("../nosql-data-diagrams/NoSQL3.2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
.diagram4-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  h2 {
    font-size: 30px;
  }
  i {
    font-size: 60px;
    margin-top: 30%;
  }
  &:hover {
    cursor: pointer;
  }
}

.nosql4 {
  position: absolute;
  top: 20%;
  display: none;
  left: 13%;
  h2 {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 0 0 20px 0;
  }
  .nosql4Close {
    font-size: 30px;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

#nosql5diagram {
  background: url("../nosql-data-diagrams/NoSQL3.3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}
.diagram5-description {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  h2 {
    font-size: 30px;
  }
  i {
    font-size: 60px;
    margin-top: 30%;
  }
  &:hover {
    cursor: pointer;
  }
}

.nosql5 {
  position: absolute;
  top: 20%;
  display: none;
  left: 30%;
  h2 {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 0 0 20px 0;
  }
  .nosql5Close {
    font-size: 30px;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.modal-wrapper {
  display: flex;
  background: white;
  border-radius: 10px;
  .description {
    align-self: center;
    padding: 0 20px;
    line-height: 3;
    .title {
      text-align: center;
      font-size: 40px;
    }
  }
}

.darken {
  width: 100%;
  background: rgba(0, 0, 0, 0.741);
}
